<div class="row">
	<h1 class="col-md-offset-4 col-md-4">Filmo</h1>
	<div class="col-md-offset-3 col-md-6">
		<form ng-controller="searchController">
	        <div class="input-group">
	            <input ng-model="film" type="text" class="form-control" placeholder="Search for your favourite film...">
	            <span class="input-group-btn">
	       			 <button ng-click="getQuery()" class="btn btn-default" type="button">Search!</button>
	      		</span>
	        </div>
	    </form>
	</div>
</div>